@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "36agents";
    default: true;
    --color-primary: #5DD62C;
    --color-secondary: #4FBE22;
    --color-base: #0F0F0F;
    --color-light: #F8F8F8;
    --color-info: #3B82F6;
    --color-success: #34C759;
    --color-warning: #FB923C;
    --color-error: #F85149;
}


:root {
    --color-primary: #5DD62C;
    --color-secondary: #4FBE22;
    --color-primary-dark: #122B08;
    --color-base: #0F0F0F;
    --color-base-secondary: #1a1a1a;
    --color-light: #F8F8F8;
    --color-info: #3B82F6;
    --color-success: #34C759;
    --color-warning: #FB923C;
    --color-error: #F85149;
    --color-gray: #CBCBCB;
}

body,
html {
    background-color: var(--color-base);
    line-height: 1.1em;
    font-weight: 400;
}


/* container */
.container {
    @apply mx-auto px-4 md:px-6;
}


.cont {
    @apply flex flex-col;
}

.cont_py {
    @apply py-20;
}

.cont_w {
    max-width: 900px;
}

.cont_gap {
    @apply gap-12;
}


/* Custom Text */
.h1 {
    @apply text-4xl font-bold;
}

.h1_sub {
    @apply text-lg;
    line-height: 1.2em;
}

.h2 {
    @apply text-3xl font-bold;
}

.h2_sub {
    @apply text-lg;
    line-height: 1.2em;
}

.text-white-200 {
    color: var(--color-gray);
}